/node_modules
/oh_modules
/local.properties
/.idea
**/build
**/.cxx
/.hvigor
/.cache
.DS_Store
/.clangd
/.clang-format
/.clang-tidy
**/.test
**/.preview
/.deveco
*.p12
*.p7b
*.cer
*.csr
/signature/
**/agconnect-services.json
